*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
.bod{
    margin-left: 2.5vh;
    margin-top: 5vh;
    background-color: aliceblue;
    width: 90vw;
    height: 40vh;
    padding: 10vw;
    /* align-items: center; */
}
.no h3{
    margin-top: 50px;
}
.butt{
    position: absolute;
    margin-top: 50px;
    margin-left: 80px;
}
.toggle-btn{
    margin-top: 0;
    width: 100px;
    height: 50px;
    background: gray;
    border-radius: 30px;
    padding: 5px;
}
.toggle-btn > .inner-circle{
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 30px;
}
.toggle-btn.active {
    background: #00acee;
}
.toggle-btn.active > .inner-circle{
    margin-left: 45px;
    transition: .5s ease-out;
}
.hmb ul li{
    cursor: pointer;
    list-style-type: none;
    background-color: white;
    width: 27vw;
    display: inline-block;
    height: 12vh;
    margin-top: 4vh;
    margin-left: 13vw;
    margin-right: 6vw;
    text-align: center;
    padding-top: 3vh;
    font-weight: bold;
    font-size: 16px;
    border-radius: 2vw;
    box-shadow: 2px 2px 20px rgb(205, 205, 205);
}
.hmb ul li a{
    border-top: 20px;
    text-decoration: none;
    color: black;
}
.hmb ul li:hover{
    background-color: grey;
    color: white;
}
.fa-house{
    font-size: 25px;
}
.fa-newspaper{
    font-size: 25px;
}
.fa-location-dot{
    font-size: 25px;
}
.fa-phone{
    font-size: 25px;
}
.foot{
    display: block;
    position: fixed;
    z-index: 3;
    width: 100vw;
    height: 8vh;
    bottom: 0;
    background-color: lightgrey;
}
.foot ul{
    margin-top: 7px;
    margin-left: -3px;
    display: flex;
    width: 100vw;
    /* margin-left: auto;
    margin-right:auto;  */
    display: block;
    align-content: center;
    justify-content: space-between;
}
.foot ul li{
    display: flex;
    align-items: center;
    margin-left: 4px;
    margin-top: 1vh;
    justify-content: center;
    display: inline-flex;
    width: 17vw;
    height: 3vh;
    padding: 4vw;
    border-radius: 2vw;
    background-color: rgba(255,255,255,0.4);
}
/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

  /* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}
  /* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}
/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: all .5s ease-in-out;
}
/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

  /* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}